.logo {
    width: auto;
    height: 60px;
    background: url('/assets/img/logo-01.png') no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.m-collapse {
    height: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-menu {
    background-color: #0F3F5A;
    z-index: 20;
    padding: 10px 0px;
    position: fixed;
    margin-top: 0px;
    color: #fff;
    font-family: 'Coiny-Regular';
    font-size: 1.2rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-menu div {
    align-items: center;
    justify-content: center;
}

#main-menu a {
    color: #fff;
}

@media only screen and (max-width: 576px) {
    #main-menu {
        /* padding: 5px 0px; */
    }
    #menu-menu-left {
        display: none !important;
    }
}

#main-menu .row {
    /* height: 60px; */
    overflow: hidden;
    /* -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; */
}

@media only screen and (max-width: 576px) {
    #main-menu .row {
        /* height: 70px; */
    }
}

#main-menu .menu {
    margin-bottom: 0px;
}

#main-menu .menu li {
    display: inline-block;
    text-transform: uppercase;
}

#main-menu .menu li:not(:last-of-type) {
    margin-right: 40px;
}

#main-menu #logo img {
    height: 40px;
    width: auto;
}

@media only screen and (max-width: 576px) {
    #main-menu #logo img {
        height: 20px;
    }
}

body.home #main-menu, body.home .menu-trigger, body.home .menu-trigger-close {
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

body.of-hidden #main-menu {
    margin-top: -80px;
}

body.of-hidden .menu-trigger, body.of-hidden .menu-trigger-close {
    margin-top: -80px;
}

body.menu-fixed #main-menu {
    position: fixed !important;
}

body.menu-fixed .menu-trigger, body.menu-fixed .menu-trigger-close {
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

body.menu-fixed.scroll-down #main-menu .row {
    height: 0px;
}

body.menu-fixed.scroll-down .menu-trigger, body.menu-fixed.scroll-down .menu-trigger-close {
    opacity: 0;
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
}

/*  */

#nav-icon1 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #F5B51B;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 8px;
}

#nav-icon1 span:nth-child(3) {
    top: 16px;
}

#nav-icon1.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*  */

.menu-trigger, .menu-trigger-close {
    position: fixed;
    width: 25px;
    height: 25px;
    margin-right: 30px;
    margin-top: 30px;
    z-index: 30;
    right: 0;
    overflow: hidden;
    display: none;
    -webkit-transition: tran 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .menu-trigger, .menu-trigger-close {
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    /* .menu-trigger, .menu-trigger-close {
        margin-right: 12.5px;
        margin-top: 12.5px;
    } */
}

/* 
.menu-trigger span, .menu-trigger-close span, .menu-trigger:before, .menu-trigger-close:before, .menu-trigger:after, .menu-trigger-close:after {
    width: 25px;
    height: 4px;
    background-color: #ffc55e;
    display: block;
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-trigger:before, .menu-trigger-close:before {
    margin-top: -8px;
}

.menu-trigger:after, .menu-trigger-close:after {
    margin-top: 8px;
} */

#mobile-menu {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 20;
    width: 75%;
    height: 100%;
    right: 0;
    background: #0F3F5A;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-right: -100%;
}

#mobile-menu .menu-nav {
    position: absolute;
    margin-top: 80px;
    margin-right: 30px;
}

#mobile-menu .menu-nav ul {
    margin-bottom: 0px;
}

#mobile-menu .menu-nav ul li {
    color: #fff;
    font-family: "Coiny-Regular";
    font-size: 26px;
    line-height: 1.5;
    text-transform: uppercase;
}

#mobile-menu .menu-lang {
    position: absolute;
    font-family: "Comfortaa-Regular";
    margin-right: 30px;
    margin-bottom: 30px;
}

#mobile-menu .menu-lang .wpml-ls-legacy-list-horizontal a {
    font-size: 20px !important;
    font-weight: 700;
}

body.mobile-menu-active .menu-trigger span, body.mobile-menu-active .menu-trigger-close span {
    opacity: 0;
}

body.mobile-menu-active .menu-trigger:before, body.mobile-menu-active .menu-trigger-close:before {
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: 0;
}

body.mobile-menu-active .menu-trigger:after, body.mobile-menu-active .menu-trigger-close:after {
    -ms-transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
    -o-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg);
    margin-top: 0;
}

body.mobile-menu-active #mobile-menu {
    opacity: 1;
    pointer-events: initial;
    margin-right: 0;
}

body.mobile-menu-active #main-menu .row {
    height: 0px;
}

@media only screen and (max-width: 768px) {
    .loading.logo {
        margin-top: -50%;
    }
}

@media only screen and (max-width: 576px) {
    .loading.logo {
        margin-top: -70%;
    }
}

.loading.logo img {
    height: 300px;
    width: auto;
}

@media only screen and (max-width: 1200px) {
    .loading.logo img {
        height: 240px;
    }
}

@media only screen and (max-width: 768px) {
    .loading.logo img {
        height: 240px;
    }
}

@media only screen and (max-width: 576px) {
    .loading.logo img {
        height: 120px;
    }
}

.menu {
    list-style-type: none;
}

.menu a {
    color: #fff;
}

#mobile-menu .menu-lang {
    bottom: 0;
    right: 0;
}

.wpml-ls-legacy-list-horizontal li:not(:last-of-type) a:after {
    content: '|';
    display: inline-block;
    margin: 0px 10px;
    color: #fff;
}

.wpml-ls-legacy-list-horizontal .wpml-ls-item {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

.wpml-ls-legacy-list-horizontal a {
    padding: 0;
    font-size: 2.6rem;
    color: #647db4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wpml-ls-legacy-list-horizontal li.current-language a {
    color: #fff !important;
}

.wpml-ls-legacy-list-horizontal a:hover {
    color: rgba(255, 255, 255, 1) !important;
}